/* GLOBAL */
.body {
    margin: 0;
    background-color: #3F4E4F;
    font-family: Arial, sans-serif;
}

/* NAV BAR */
.navBar {
    color: white;
    background-color: #2C3639;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.Logo {
    padding-left: 75px;
}

/* HERO */
.hquote {
    color: white;
    background-image: url("Resources/top-view-coffee-accessories-with-copy-space.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 1px;
}

.h2 {
    padding-top: 250px;
    padding-left: 275px;
    font-size: 50px;
}

.h2p {
    text-align: center;
    padding-top: 1px;
    padding-left: 225px;
    font-size: 15px;
    max-width: 550px;
}

/* BUTTONS */
.buttons {
    padding-top: 15px;
    padding-left: 230px;
}

.buttons button {
    width: 170px;
    height: 50px;
    border-radius: 35px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #DCD7C9;
}

.CustomerFav {
    margin: 0 15px;
}

/* PREVIEWS SECTION */
.previews {
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* BASE PREVIEW */
.drink-preview {
    display: flex;
    align-items: center;
    gap: 40px;
}


.drink-preview.left {
    flex-direction: row;
}


.drink-preview.right {
    flex-direction: row-reverse;
}


.coffee {
    width: 300px;
    border-radius: 18px;
}


.drink-text {
    max-width: 420px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drink-text h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.drink-text p {
    font-size: 15px;
    line-height: 1.6;
}
